{
   "id": "",
   "service_account_id": "",
   "created_at": "2006-01-02T15:04:05.999999999Z",
   "key_algorithm": "RSA_2048",
   "public_key": "-----BEGIN PUBLIC KEY-----*********-----END PUBLIC KEY-----\n",
   "private_key": "-----BEGIN PRIVATE KEY-----*********-----END PRIVATE KEY-----\n"
}
