[defaults]
inventory = environments/stage/dyn-inventory.py
remote_user = ubuntu
host_key_checking = False
retry_files_enabled = False
roles_path = ./roles
vault_password_file = ~/.ansible/vault.key

[diff]
always = True
context =5
